html, body {
  margin: 0;
  padding: 0;
  background: #bbb;
  font-size: 13px;
  position: relative;
}

#bugtracker {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background: #cdf;
  min-width: 100px;
  min-height: 20px;
}

#bugtracker.opened {
  background: #f00;
}

